$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@font-face {
  font-family: 'MyFont';
  src: url(../fonts/GloriaHallelujah.ttf);
}
$mainFontColor: #CCC;

.browsehappy {
  margin: 0.2em 0;
  // background-image: url("../images/back.jpg");
  color: #000;
  padding: 0.2em 0;

}
/* Space out content a bit */
body {
  -webkit-text-size-adjust: 100%;

  padding-top: 20px;
  padding-bottom: 20px;
  background: url("../images/black_paper.png");
  background-size: 100% auto;

  color: $mainFontColor;
}

textarea {
  resize: none;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

/* Custom page header */
.collapse {
  // border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
    font-family: 'MyFont';
    font-style: italic;
    font-weight: 700;
  }

  li:nth-child(2) {
    // border-right: 2px solid #333;
    // border-left: 2px solid #333;
  }
}
.navbar {
  .navbar-collapse {
    border-color: transparent;
  }
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-toggle {
  border: 0px
}

#nav-menu-1 {
  li {
    font-size: 20px;
    font-family: 'MyFont', cursive;
    font-weight: 700;
    a {
      color: $mainFontColor;
        &:link, &:hover, &:visited, &:active {
          color: $mainFontColor;
          background-color: transparent;
        }
    }
  }
}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #999;
  border-top: 1px solid #e5e5e5;

}

textarea {
  width: 100%;
}
/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-color: rgba(0, 0, 0, 0);

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }

}
/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }

}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1080px;
    // width: 70%;
    // margin-left: 15px;
    // margin-right: 15px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;

  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;

  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

}

.parent {
  position:relative;
}

.anim {
  position:absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.anim.ng-enter,
.anim.ng-leave {
  -webkit-transition-duration: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  display: block;
  position: absolute;

}
.anim.ng-enter {
  left: 100%;
  opacity: 0;

}
.anim.ng-enter-active {
  left: 0%;
  opacity: 1;
}
.anim.ng-leave {
  opacity: 1;
  left: 0%;

}
.anim.ng-leave-active {
  opacity: 0;
  left: 100%;
}

/////////////////////////////////////////////////////////////////
// ng-repeat アニメーションテスト
/////////////////////////////////////////////////////////////////
.animate-test.ng-enter,
.animate-test.ng-leave {
  -webkit-transition-duration: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  // display: block;
  // position: absolute;

}
.animate-test.ng-enter {
  opacity: 0;

}
.animate-test.ng-enter-active {
  opacity: 1;
}
.animate-test.ng-leave {
  left: 0%;

}
.animate-test.ng-leave-active {
  opacity: 0;
}

.tegaki-border {
  border-style: solid;
  border-width: 7px 0px 0px;//7px 8px 8px;
  -moz-border-image: url(../images/wakutest.png) 10 8 8 repeat;
  -webkit-border-image: url(../images/wakutest.png) 10 8 8 repeat;
  -o-border-image: url(../images/wakutest.png) 10 8 8 repeat;
  border-image: url(../images/wakutest.png) 10 8 8 fill repeat;
}

.tegaki-border:hover {
  cursor: pointer;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.title {

  font-family: 'MyFont';
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  margin-bottom: 50px;

  .container-narrow {
    width: auto;
  }
}
