$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  // background-image: url("../images/back.jpg");
  color: #000;
  padding: 0.2em 0;

}
/* Space out content a bit */
body {
  -webkit-text-size-adjust: 100%;

  padding-top: 20px;
  padding-bottom: 20px;
  background: url("../images/back.jpg");
  background-size: 100% auto;
}

textarea {
  resize: none;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;

}
/* Custom page header */
.header {
  // border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
    font-family: 'Rock Salt', cursive;
  }

  li {
    font-family: 'Rock Salt', cursive;
  }

  li:nth-child(2) {
    border-right: 1px solid #333;
    border-left: 1px solid #333;
  }

}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;

}
.container-narrow > hr {
  margin: 30px 0;

}

textarea {
  width: 100%;
}
/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-color: rgba(0, 0, 0, 0);

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }

}
/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }

}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    // max-width: 730px;
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;

  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;

  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

}

.parent {
  position:relative;
}

.child {

}

.anim {
  position:absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.anim.ng-enter,
.anim.ng-leave {
  -webkit-transition-duration: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  display: block;
  position: absolute;

}
.anim.ng-enter {
  left: 100%;
  opacity: 0;

}
.anim.ng-enter-active {
  left: 0%;
  opacity: 1;
}
.anim.ng-leave {
  opacity: 1;
  left: 0%;

}
.anim.ng-leave-active {
  opacity: 0;
  left: 100%;
}

.container {
  // background-image: url("../images/back.jpg");
}
