.top-page {
  background-image: url("../images/black_paper.png");
  opacity: 0.8;
  width: 90%;
  height: 500px;

  color: #ccc;
}

.content {
  border-style: solid;
  border-width: 7px 8px 8px;
  -moz-border-image: url(../images/wakutest.png) 10 8 8 repeat;
  -webkit-border-image: url(../images/wakutest.png) 10 8 8 repeat;
  -o-border-image: url(../images/wakutest.png) 10 8 8 repeat;
  border-image: url(../images/wakutest.png) 10 8 8 fill repeat;

  margin-top: 10px;
  height: 440px;
}
