<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
      <div class="form-group">
        <form role="form">
          <label for="exampleForm">AboutForm</label>
          <input type="text" class="form-control" id="exampleForm" ng-model="about.form" placeHolder="AboutForm">

          <button class="btn btn-default" ng-click="submit(about)">送信</button>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div ng-init="items=[]">
    </div>
    <div class="col-md-6">
      <button class="btn btn-default animate-test" ng-repeat="item in items">ボタン{{item}}</button>
    </div>

    <div class="col-md-6">
      <div class="row" ng-repeat="tag in tags">
        <!-- <a ng-href="#/about/{{tag.id}}">{{tag.name}}</a> -->
        <button class="btn btn-default" ng-click="lin(tag.id)">{{tag.name}}</button>
      </div>
    </div>
    <div class="col-md-6">
      <a ng-href="#/about/{{hre}}">リンク</a>
    </div>
  </div>

  <div class="row tegaki-border" ng-click="lin('test')">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <!-- <div class="row"> -->
      <div class="col-md-4 col-sm-4">
        TEST
      </div>
      <div class="col-md-8 col-sm-8">
        <div class="row">
          TEST
        </div>
        <div class="row">
          TEST
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>
  <div class="row tegaki-border" ng-click="lin('test')">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <!-- <div class="row"> -->
      <div class="col-md-4 col-sm-4">
        TEST
      </div>
      <div class="col-md-8 col-sm-8">
        <div class="row">
          TEST
        </div>
        <div class="row">
          TEST
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>

  <div class="row">
    <tabset>
      <tab heading="Windows">
        <p>・Windowsのインストール手順</p>
        <p>・Windowsの設定手順</p>
        <p>・Windowsの実行手順</p>
      </tab>
      <tab heading="Linux">
        <p>・Linuxのインストール手順</p>
        <p>・Linuxの設定手順</p>
        <p>・Linuxの実行手順</p>
      </tab>
      <tab heading="MAC">
        <p>・MACのインストール手順</p>
        <p>・MACの設定手順</p>
        <p>・MACの実行手順</p>
      </tab>
    </tabset>
  </div>
</div>
