<div class="container top-page">
  <div class="row">
    <input class="btn btn-default" type="button" value="Work" ng-click="work()">
  </div>
  <div class="row content">
    <div class="col-md-12 mainparent">
      <div ng-init="main.work=true">

      </div>
      <div ng-if="main.work" class="maincontent">
        <p>
          ここに新着ひょうじする
        </p>
      </div>
      <div ng-if="main.blog" class="maincontent">
        <p>
          タブみたいなのやりたい
        </p>
      </div>
    </div>
  </div>
</div>
