<div class="container top-page">
  <div class="row">
    <a class="mybutton" ng-click="main.change()">Work</a>
  </div>
  <div class="row content">
    <div class="col-md-12 mainparent">
      <div ng-init="main.work=true">

      </div>
      <div ng-if="main.work" class="maincontent">
        <p>
          ここに新着ひょうじする
        </p>
      </div>
      <div ng-if="main.blog" class="maincontent">
        <div class="row" ng-repeat="content in main.contents">
          <div class="col-md-8 col-xs-8 col-sm-8">
            {{content.title}}
          </div>
          <div class="col-md-4 col-xs-4 col-sm-4">
            <img src="{{content.img}}" alt="test" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
