<div class="row title">
  <div class="col-md-6 col-sm-6 col-xs-6">
    <h1>hytk</h1>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-6">
    <img src="../images/oshiro2.gif" alt="oshiro" style="width: 50%;"/>
  </div>
</div>
<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <h2>Main Screen</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <p>
      This is main content "hytk"
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-6">
    <h1>This is Test!!</h1>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-6">
    <h1>This is Test2!!</h1>
  </div>
</div>
